@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(6, 14, 5)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.button {
  padding: 1rem 1rem;
  border: 2px solid rgba(6, 14, 5);
  box-shadow:
    4px 4px 6px 0 rgba(0, 0, 0, 0.643),
    -2px -2px 6px rgb(71, 71, 71);
  border-radius: 10px;
  cursor: pointer;
  transition:
    color 0.2s ease-out,
    transform 0.2s ease-out;
  color: white;

  &:hover {
    transform: scale(1.05);
    box-shadow:
      4px 4px 6px 0 rgba(0, 0, 0, 0.663),
      -4px -4px 6px rgba(255, 255, 255, 0.251);
  }

  &:active {
    outline: none;
    transform: scale(0.95);
    box-shadow:
      4px 4px 8px 0 rgb(0, 0, 0),
      -4px -4px 8px rgba(255, 255, 255, 0.413),
      4px 4px 8px 0 rgb(0, 0, 0) inset,
      -4px -4px 8px rgba(255, 255, 255, 0.24) inset;
  }
}

.button:hover .hover-color {
  filter: brightness(0) saturate(100%) invert(27%) sepia(90%) saturate(1769%) hue-rotate(214deg) brightness(83%) contrast(107%);
}

.card {
  border: 2px solid rgba(6, 14, 5);
  box-shadow:
    4px 4px 6px 0 rgba(0, 0, 0, 0.643),
    -2px -2px 6px rgb(71, 71, 71);
  border-radius: 10px;
  transition:
    color 0.2s ease-out,
    transform 0.2s ease-out;
  color: white;

}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}